body{
    margin: 0;
    background-color: #056679;
    font-family: sans-serif;
}

.todo-container {
    width: 350px;
    margin: auto;
    margin-top: 30px;
    
    
    text-align: center;
}

h1{
    margin: 0;
    margin-bottom: 15px;
    color:  #086e83;
}


.input-section{
    background-color: #055565;
    padding: 18px;
    border-radius: 5px;
    color: #08869e;
    box-shadow: 0px 6px 7px #15131365;
    
        
}

.input-section input{
    border-radius: 5px;
    border: 1px solid #106879;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #055565;
    color:#08869e ;
    outline: none;
    
   
}

ul{
    text-align: left;
    padding: 0;
   
}

ul li {
    list-style: none;
    background-color: #055565;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px ;
    box-shadow: 0px 4px 4px #17101077;
    color: #08869e;
    display: flex;
    align-items: center;

}

ul li p {
    margin: 0;
    padding: 0;
}

ul li span{
    text-align: right;
    flex: 1;
    cursor: pointer;

}

ul li span i{
    
margin: 5px;
}



input::placeholder {
    color:#08869e ;
}